<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
  </head>

  <body>
    <h1>{{ title }}</h1>

    <ng-container *ngIf="auth.stateLoaded">
      <ng-container *ngIf="auth.isAuthenticated; else showLogin">
        <router-outlet></router-outlet>
        <a href="javascript:void(0);" (click)="auth.logOut()">Log out</a>
      </ng-container>

      <ng-template #showLogin>
        <a href="javascript:void(0);" (click)="auth.logIn()">Log in</a>
      </ng-template>
    </ng-container>
  </body>
</html>
